.bg-blue {
  background-color: royalblue;
}
.bg-green {
  background-color: limegreen;
}
.bg-red {
  background-color: tomato;
}
.bg-yellow {
  background-color: gold;
}

.fg-blue {
  color: royalblue;
}
.fg-green {
  color: limegreen;
}
.fg-red {
  color: tomato;
}
.fg-yellow {
  color: gold;
}

.border-blue {
  border-color: royalblue;
}
.border-green {
  border-color: limegreen;
}
.border-red {
  border-color: tomato;
}
.border-yellow {
  border-color: gold;
}
