.field,
.pawn {
  border-style:solid;
  border-width:0;
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.field {
  width: 4rem;
  height: 4rem;
  padding: 0.5rem;
  margin: auto;
}

.start-field {
  border-width: 2px;
}

.normal-field {
  border-color: gray;
  border-width: 1px;
}

.placeholder-field {
  width: 4rem;
  height: 4rem;
}

.pawn {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  box-shadow: rgba(black, 0.4) 0px 0px 0px 2px,
    rgba(black, 0.65) 0px 4px 6px -1px, rgba(gray, 0.08) 0px 1px 0px inset;
}
