<div class="container m-5 text-center">
  <div class="row">
    <div class="col">
      <app-game-event-message
        *ngIf="gameEventMessage$ | async as gameEventMessage"
        [event]="gameEventMessage.event"
        [info]="gameEventMessage.info"
      ></app-game-event-message>
    </div>
  </div>
  <div class="row gx-0">
    <div class="col">
      <div class="card h-100 border-top-0 rounded-0">
        <div class="card-body d-flex flex-column justify-content-center">
          <div class="card-text">Latest dice roll</div>
          <h1
            class="card-title"
            *ngIf="
              (gameEventMessage$ | async)!.info.latestDiceRoll > 0;
              else emptyDiceRoll
            "
          >
            {{ (gameEventMessage$ | async)!.info.latestDiceRoll }}
          </h1>
          <ng-template #emptyDiceRoll>
            <h1 class="card-title">-</h1>
          </ng-template>
          <button
            (click)="onClickBtnRollDice()"
            id="btn-rollDice"
            class="btn btn-light"
          >
            Roll dice
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 border-start-0 border-top-0 rounded-0">
        <div class="card-body d-flex flex-column justify-content-center">
          <div class="card-text">Current player</div>
          <h1 class="card-title" [ngClass]="game.currentPlayer.pawnColor">
            Player {{ game.currentPlayerIndex + 1 }}
          </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card border-top-0" style="border-radius: 0">
      <div class="card-body">
        <app-board
          [board]="game.board"
          (pawnClicked)="onClickPawn($event)"
        ></app-board>
      </div>
    </div>
  </div>
</div>
