<div class="board">
  <!-- row 0 -->
  <app-field [field]="board.homeFields.get(0)![0]"></app-field>
  <app-field [field]="board.homeFields.get(0)![1]"></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field [field]="board.normalFields.get(0)![7]"></app-field>
  <app-field [field]="board.normalFields.get(0)![8]"></app-field>
  <app-field [field]="board.startFields.get(1)!"></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field [field]="board.homeFields.get(1)![0]"></app-field>
  <app-field [field]="board.homeFields.get(1)![1]"></app-field>

  <!-- row 01 -->
  <app-field [field]="board.homeFields.get(0)![2]"></app-field>
  <app-field [field]="board.homeFields.get(0)![3]"></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field [field]="board.normalFields.get(0)![6]"></app-field>
  <app-field [field]="board.landingFields.get(1)![0]"></app-field>
  <app-field [field]="board.normalFields.get(1)![0]"></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field [field]="board.homeFields.get(1)![2]"></app-field>
  <app-field [field]="board.homeFields.get(1)![3]"></app-field>

  <!-- row 02 -->
  <app-field></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field [field]="board.normalFields.get(0)![5]"></app-field>
  <app-field [field]="board.landingFields.get(1)![1]"></app-field>
  <app-field [field]="board.normalFields.get(1)![1]"></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field></app-field>

  <!-- row 03 -->
  <app-field></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field [field]="board.normalFields.get(0)![4]"></app-field>
  <app-field [field]="board.landingFields.get(1)![2]"></app-field>
  <app-field [field]="board.normalFields.get(1)![2]"></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field></app-field>

  <!-- row 04 -->
  <app-field [field]="board.startFields.get(0)"></app-field>
  <app-field [field]="board.normalFields.get(0)![0]"></app-field>
  <app-field [field]="board.normalFields.get(0)![1]"></app-field>
  <app-field [field]="board.normalFields.get(0)![2]"></app-field>
  <app-field [field]="board.normalFields.get(0)![3]"></app-field>
  <app-field [field]="board.landingFields.get(1)![3]"></app-field>
  <app-field [field]="board.normalFields.get(1)![3]"></app-field>
  <app-field [field]="board.normalFields.get(1)![4]"></app-field>
  <app-field [field]="board.normalFields.get(1)![5]"></app-field>
  <app-field [field]="board.normalFields.get(1)![6]"></app-field>
  <app-field [field]="board.normalFields.get(1)![7]"></app-field>

  <!-- row 05 -->

  <app-field [field]="board.normalFields.get(3)![8]"></app-field>
  <app-field [field]="board.landingFields.get(0)![0]"></app-field>
  <app-field [field]="board.landingFields.get(0)![1]"></app-field>
  <app-field [field]="board.landingFields.get(0)![2]"></app-field>
  <app-field [field]="board.landingFields.get(0)![3]"></app-field>
  <app-field></app-field>
  <app-field [field]="board.landingFields.get(2)![0]"></app-field>
  <app-field [field]="board.landingFields.get(2)![1]"></app-field>
  <app-field [field]="board.landingFields.get(2)![2]"></app-field>
  <app-field [field]="board.landingFields.get(2)![3]"></app-field>
  <app-field [field]="board.normalFields.get(1)![8]"></app-field>

  <!-- row 06 -->

  <app-field [field]="board.normalFields.get(3)![6]"></app-field>
  <app-field [field]="board.normalFields.get(3)![5]"></app-field>
  <app-field [field]="board.normalFields.get(3)![4]"></app-field>
  <app-field [field]="board.normalFields.get(3)![3]"></app-field>
  <app-field [field]="board.normalFields.get(3)![2]"></app-field>
  <app-field [field]="board.landingFields.get(3)![3]"></app-field>
  <app-field [field]="board.normalFields.get(2)![3]"></app-field>
  <app-field [field]="board.normalFields.get(2)![2]"></app-field>
  <app-field [field]="board.normalFields.get(2)![1]"></app-field>
  <app-field [field]="board.normalFields.get(2)![0]"></app-field>
  <app-field [field]="board.startFields.get(2)"></app-field>

  <!-- row 07 -->
  <app-field></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field [field]="board.normalFields.get(3)![0]"></app-field>
  <app-field [field]="board.landingFields.get(3)![2]"></app-field>
  <app-field [field]="board.normalFields.get(2)![4]"></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field></app-field>

  <!-- row 08 -->
  <app-field></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field [field]="board.normalFields.get(3)![1]"></app-field>
  <app-field [field]="board.landingFields.get(3)![1]"></app-field>
  <app-field [field]="board.normalFields.get(2)![5]"></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field></app-field>

  <!-- row 10 -->
  <app-field [field]="board.homeFields.get(3)![2]"></app-field>
  <app-field [field]="board.homeFields.get(3)![3]"></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field [field]="board.normalFields.get(3)![0]"></app-field>
  <app-field [field]="board.landingFields.get(3)![0]"></app-field>
  <app-field [field]="board.normalFields.get(2)![6]"></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field [field]="board.homeFields.get(2)![0]"></app-field>
  <app-field [field]="board.homeFields.get(2)![1]"></app-field>

  <!-- row 11 -->
  <app-field [field]="board.homeFields.get(3)![2]"></app-field>
  <app-field [field]="board.homeFields.get(3)![3]"></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field [field]="board.startFields.get(3)"></app-field>
  <app-field [field]="board.normalFields.get(2)![8]"></app-field>
  <app-field [field]="board.normalFields.get(2)![7]"></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field [field]="board.homeFields.get(2)![0]"></app-field>
  <app-field [field]="board.homeFields.get(2)![1]"></app-field>
</div>
