<div class="board">
  <!-- row 0 -->
  <app-field
    [field]="board.homeFields.get(Color.Blue)![0]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.homeFields.get(Color.Blue)![1]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field
    [field]="board.normalFields.get(Color.Blue)![7]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.normalFields.get(Color.Blue)![8]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.startFields.get(Color.Green)!"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field
    [field]="board.homeFields.get(Color.Green)![0]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.homeFields.get(Color.Green)![1]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>

  <!-- row 01 -->
  <app-field
    [field]="board.homeFields.get(Color.Blue)![2]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.homeFields.get(Color.Blue)![3]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field
    [field]="board.normalFields.get(Color.Blue)![6]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.landingFields.get(Color.Green)![0]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.normalFields.get(Color.Green)![0]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field
    [field]="board.homeFields.get(Color.Green)![2]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.homeFields.get(Color.Green)![3]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>

  <!-- row 02 -->
  <app-field></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field
    [field]="board.normalFields.get(Color.Blue)![5]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.landingFields.get(Color.Green)![1]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.normalFields.get(Color.Green)![1]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field></app-field>

  <!-- row 03 -->
  <app-field></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field
    [field]="board.normalFields.get(Color.Blue)![4]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.landingFields.get(Color.Green)![2]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.normalFields.get(Color.Green)![2]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field></app-field>

  <!-- row 04 -->
  <app-field
    [field]="board.startFields.get(Color.Blue)"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.normalFields.get(Color.Blue)![0]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.normalFields.get(Color.Blue)![1]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.normalFields.get(Color.Blue)![2]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.normalFields.get(Color.Blue)![3]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.landingFields.get(Color.Green)![3]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.normalFields.get(Color.Green)![3]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.normalFields.get(Color.Green)![4]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.normalFields.get(Color.Green)![5]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.normalFields.get(Color.Green)![6]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.normalFields.get(Color.Green)![7]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>

  <!-- row 05 -->

  <app-field
    [field]="board.normalFields.get(Color.Yellow)![8]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.landingFields.get(Color.Blue)![0]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.landingFields.get(Color.Blue)![1]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.landingFields.get(Color.Blue)![2]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.landingFields.get(Color.Blue)![3]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field></app-field>
  <app-field
    [field]="board.landingFields.get(Color.Red)![0]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.landingFields.get(Color.Red)![1]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.landingFields.get(Color.Red)![2]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.landingFields.get(Color.Red)![3]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.normalFields.get(Color.Green)![8]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>

  <!-- row 06 -->

  <app-field
    [field]="board.normalFields.get(Color.Yellow)![6]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.normalFields.get(Color.Yellow)![5]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.normalFields.get(Color.Yellow)![4]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.normalFields.get(Color.Yellow)![3]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.normalFields.get(Color.Yellow)![2]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.landingFields.get(Color.Yellow)![3]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.normalFields.get(Color.Red)![3]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.normalFields.get(Color.Red)![2]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.normalFields.get(Color.Red)![1]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.normalFields.get(Color.Red)![0]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.startFields.get(Color.Red)"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>

  <!-- row 07 -->
  <app-field></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field
    [field]="board.normalFields.get(Color.Yellow)![0]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.landingFields.get(Color.Yellow)![2]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.normalFields.get(Color.Red)![4]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field></app-field>

  <!-- row 08 -->
  <app-field></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field
    [field]="board.normalFields.get(Color.Yellow)![1]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.landingFields.get(Color.Yellow)![1]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.normalFields.get(Color.Red)![5]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field></app-field>

  <!-- row 10 -->
  <app-field
    [field]="board.homeFields.get(Color.Yellow)![2]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.homeFields.get(Color.Yellow)![3]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field
    [field]="board.normalFields.get(Color.Yellow)![0]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.landingFields.get(Color.Yellow)![0]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.normalFields.get(Color.Red)![6]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field
    [field]="board.homeFields.get(Color.Red)![0]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.homeFields.get(Color.Red)![1]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>

  <!-- row 11 -->
  <app-field
    [field]="board.homeFields.get(Color.Yellow)![2]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.homeFields.get(Color.Yellow)![3]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field
    [field]="board.startFields.get(Color.Yellow)"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.normalFields.get(Color.Red)![8]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.normalFields.get(Color.Red)![7]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field
    [field]="board.homeFields.get(Color.Red)![0]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.homeFields.get(Color.Red)![1]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
</div>
