<div class="board">
  <!-- row 0 -->
  <app-field
    [field]="board.getFieldGroupByColor(Color.Blue).homeFields[0]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Blue).homeFields[1]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Blue).normalFields[7]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Blue).normalFields[8]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Green).startField"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Green).homeFields[0]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Green).homeFields[1]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>

  <!-- row 01 -->
  <app-field
    [field]="board.getFieldGroupByColor(Color.Blue).homeFields[2]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Blue).homeFields[3]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Blue).normalFields[6]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Green).landingFields[0]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Green).normalFields[0]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Green).homeFields[2]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Green).homeFields[3]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>

  <!-- row 02 -->
  <app-field></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Blue).normalFields[5]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Green).landingFields[1]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Green).normalFields[1]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field></app-field>

  <!-- row 03 -->
  <app-field></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Blue).normalFields[4]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Green).landingFields[2]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Green).normalFields[2]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field></app-field>

  <!-- row 04 -->
  <app-field
    [field]="board.getFieldGroupByColor(Color.Blue).startField"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Blue).normalFields[0]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Blue).normalFields[1]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Blue).normalFields[2]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Blue).normalFields[3]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Green).landingFields[3]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Green).normalFields[3]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Green).normalFields[4]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Green).normalFields[5]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Green).normalFields[6]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Green).normalFields[7]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>

  <!-- row 05 -->

  <app-field
    [field]="board.getFieldGroupByColor(Color.Yellow).normalFields[8]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Blue).landingFields[0]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Blue).landingFields[1]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Blue).landingFields[2]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Blue).landingFields[3]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Red).landingFields[0]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Red).landingFields[1]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Red).landingFields[2]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Red).landingFields[3]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Green).normalFields[8]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>

  <!-- row 06 -->

  <app-field
    [field]="board.getFieldGroupByColor(Color.Yellow).normalFields[6]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Yellow).normalFields[5]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Yellow).normalFields[4]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Yellow).normalFields[3]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Yellow).normalFields[2]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Yellow).landingFields[3]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Red).normalFields[3]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Red).normalFields[2]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Red).normalFields[1]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Red).normalFields[0]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Red).startField"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>

  <!-- row 07 -->
  <app-field></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Yellow).normalFields[0]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Yellow).landingFields[2]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Red).normalFields[4]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field></app-field>

  <!-- row 08 -->
  <app-field></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Yellow).normalFields[1]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Yellow).landingFields[1]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Red).normalFields[5]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field></app-field>

  <!-- row 10 -->
  <app-field
    [field]="board.getFieldGroupByColor(Color.Yellow).homeFields[2]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Yellow).homeFields[3]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Yellow).normalFields[0]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Yellow).landingFields[0]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Red).normalFields[6]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Red).homeFields[0]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Red).homeFields[1]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>

  <!-- row 11 -->
  <app-field
    [field]="board.getFieldGroupByColor(Color.Yellow).homeFields[2]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Yellow).homeFields[3]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Yellow).startField"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Red).normalFields[8]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Red).normalFields[7]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field></app-field>
  <app-field></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Red).homeFields[0]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
  <app-field
    [field]="board.getFieldGroupByColor(Color.Red).homeFields[1]"
    (pawnClicked)="onClickPawn($event)"
  ></app-field>
</div>
